<div class="product-container">
    <table class="tab">
        <thead>
            <tr>
                <td>Título</td>
                <td>Descripción</td>
                <td>Precio</td>
                <td>Stock</td>
                <td>Cantidad</td>
            </tr>
        </thead>
        <tbody>
            {{#each carrito}}
                <tr>
                    <td>{{this.product.title}}</td>
                    <td>{{this.product.description}}</td>
                    <td>{{this.product.price}}</td>
                    <td>{{this.product.stock}}</td>
                    <td>{{this.quantity}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>