<div class="products-container">
    <table class="tab">
        <thead>
            <tr>
                <td>Título</td>
                <td>Descripción</td>
                <td>Precio</td>
                <td>Stock</td>
                <td>Cantidad</td>
            </tr>
        </thead>
        <tbody>
            {{#each carrito}}
                <tr>
                    <td>{{this.product.title}}</td>
                    <td>{{this.product.description}}</td>
                    <td>{{this.product.price}}</td>
                    <td>{{this.product.stock}}</td>
                    <td>{{this.quantity}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <button class="endShop" onclick="clickPurchase()">Terminar compra</button>
    <button class="endShop" onclick="clickEmpty()">Vaciar Carrito</button>
</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js "></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/cart.js"></script>