<div class="cart-container">
    <div>
        <div class="productos-carrito">
            {{#each carrito}}
            <div class="carrito-cards">
                <p>Nombre: {{this.product.title}}</p>
                <p>Descripción: {{this.product.description}}</p>
                <p id="precio">Precio: {{this.product.price}}</p>
                <p>Stock: {{this.product.stock}}</p>
                <p>Cantidad: {{this.quantity}}</p>
            </div>
            {{/each}}
        </div>
        <h1>Total: {{total}}</h1>
        <div class="botones-carrito">
            <button class="endShop" onclick="clickContinue()">Seguir comprando</button>
            <button class="endShop" onclick="clickPurchase()">Terminar compra</button>
            <button class="endShop" onclick="clickEmpty()">Vaciar Carrito</button>
        </div>
    </div>
</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js "></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/toast.js"></script>
<script src="/js/cart.js"></script>