<div class="product-body">
    <div class="titulo">
        <h1>Tu perfil</h1>
            <div>
                <span>Nombre: {{user.first_name}} {{user.last_name}}</span>
            </div>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Rol: {{user.role}}</p>
        <p class="datos" id="carrito">{{user.cart}}</p>
        <a href="/carts/{{user.cart}}"><button class="quit-button">Carrito</button></a>
        <a href="/api/sessions/logout"><button class="quit-button">Salir</button></a>
    </div>
    <div>
        {{#if (isAdmin user.role)}}
        <div class="products-container">
        {{#each products}}
            <div class="products-card">
                <div class="products-title">
                    <h2>{{this.title}}</h2>
                    <p>Descripción: {{this.description}}</p>
                </div>
                <div class="products-stock">
                    <p>Categoria: {{this.category}}</p>
                    <p>Stock: {{this.stock}}</p>
                </div>
                <div>
                    <p>Precio: {{this.price}}</p>
                </div>
            </div>
        {{/each}}
        </div>
        {{else}}
            <div class="products-container">
        {{#each products}}
            <div class="products-card">
                <div class="products-title">
                    <h2>{{this.title}}</h2>
                    <p>Descripción: {{this.description}}</p>
                </div>
                <div class="products-stock">
                    <p>Categoria: {{this.category}}</p>
                    <p>Stock: {{this.stock}}</p>
                </div>
                <div>
                    <p>Precio: {{this.price}}</p>
                </div>
                <div class="products-add">
                    <button class="addToCartButton" id="{{this._id}}">Agregar al carrito</button>
                </div>
            </div>
        {{/each}}
    </div>
        {{/if}}
    </div>
    <div>
        {{#if hasPrevPage}}
            <a href="/products?query={{query}}&limit={{limit}}&page={{prevPage}}&sort={{sort}}"><button class="boton">Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/products?query={{query}}&limit={{limit}}&page={{nextPage}}&sort={{sort}}"><button class="boton">Siguiente</button></a>
        {{/if}}
    </div>
</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js "></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="js/product.js"></script>
