<div class="product-container-real">
    <div class="titulo">
        <h1>Tu perfil</h1>
            <div>
                <span>Nombre: {{user.first_name}} {{user.last_name}}</span>
            </div>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Rol: {{user.role}}</p>
        <a href="/api/sessions/logout"><button class="quit-button">Salir</button></a>
    </div>
<table class="tab">
        <thead>
            <tr>
                <td>Título</td>
                <td>Descripción</td>
                <td>Precio</td>
                <td>Categoría</td>
                <td>Stock</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.stock}}</td>
                    <td><button class="addToCartButton" id="{{this._id}}">Agregar al carrito</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div>
        {{#if hasPrevPage}}
            <a href="/products?query={{query}}&limit={{limit}}&page={{prevPage}}&sort={{sort}}"><button class="boton">Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/products?query={{query}}&limit={{limit}}&page={{nextPage}}&sort={{sort}}"><button class="boton">Siguiente</button></a>
        {{/if}}
    </div>
</div>
<script src="js/product.js"></script>
